@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c470f;
    color: #fff;
    padding: 10px 20px;
}

.brand-title {
    font-size: 1.5em;
}

.navbar-links {
    display: flex;
    direction: rtl;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    padding: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.navbar-toggle {
    display: none;
}

.toggle-button {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .toggle-button {
        display: block;
    }

    #navbar-toggle:checked + .toggle-button + .navbar-links {
        display: flex;
        flex-direction: column;
    }
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px 0;
}

/* *******cards********** */
/* *******cards********** */
/* *******cards********** */
/* *******cards********** */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Two columns with a minimum width of 200px */
    gap: 20px; /* Space between grid items */
    justify-content: center; /* Center the grid horizontally */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 100%; /* Cards take up the full width of their grid cell */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin-top: 0;
    font-size: 1em;
}

.card-text {
    color: #666;
}

.card-button {
    display: inline-block;
    padding: 8px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Two columns layout on smaller screens */
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(5, 1fr); /* Four columns layout on larger screens */
    }
}
